    <footer class="text-center">
        <div class="container-fluid section-red">

                    <div class="col-md-4 text-left section">
                        <h3 class="text-white">Quick Links</h3>
                        <br/>
                        <ul class="text-white">
                            <li><a href="/home">Home</a></li>
                            <li><a href="/about">About HCA</a></li>
                            <li><a href="/classes">Classes &amp; Enrolment</a></li>
                            <li><a href="/sport">Sport Academy</a></li>
                            <li><a href="/gallery">Gallery</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 text-left section">
                        <h3 class="text-white">Calendar</h3>
                        <br/>
                        <p class="text-white">The Cambridge International School term calendar</p>
                        <br/>
                        <a class="btn btn-responsive btn-default" href="/calendar">View Calendar</a>
                    </div>
                    <div class="col-md-4 section">
                        <img class="img-responsive" src="img/map-static.png"/>
                    </div>
                </div><div class="clearfix"></div>
        <div class="footer-bottom">
                    <div class="col-lg-12">
                        Copyright &copy; Hillcrest Cambridge Academy
                    </div>
                </div>

    </footer>