<div class="container-fluid">
        <div class="container section">
            <div class="col-md-12">
                <h4>Hillcrest Cambridge Academy</h4>
                <p>
                    Hillcrest Cambridge (Academy HCA) was founded in 2017 to provide quality and affordable education to the Randburg and surrounding communities. As South Africa is a Rainbow Nation, the institution is therefore an all-encompassing serving any nationality, colour, race creed, and multi-pluralism.  In this context a Cambridge Curriculum with some aspects of the CAPS Curriculum attributes will be a dream come true for what most parents have been looking for without success. Over and above our institution is based on Christian ethos and principles whilst acknowledging and encompassing religion pluralism.
                    <br/><br/>
                    A Cambridge curriculum is a passport to any university as it is internationally recognized without undergoing some exemption procedures. For local South African students the Cambridge curriculum brings maturity and a university approach which is an enormous benefit when learners progress to tertiary education.
                    <br/><br/>
                    HCA is what a school should be. It is a complete package and an all season’s provider of the child’s and parent’s needs in the field of education and pursuit for the future. The only valuable inheritance that a parent can give to a child is Quality Education. You can count on us, just support us, and your child will achieve goals, dreams, ambitions and aspirations. With HCA your child is set to “Sour To Excellence”.
                </p>
            </div>
        </div>
</div>
  <div class="clearfix"></div>
<div class="container-fluid">
        <div class="container section">
            <div class="col-md-6">
                <h4>About Us</h4>
                <p>
                    HCA was formed by three highly qualified, passionate, tried and tested academicians and educators. They have seen it all with a hands on approach in Education in Randburg and all over spreading their tentacles even to the outside borders of South Africa. To parents who have been searching for quality education, the search is over: 
                    <br/><br/>
                    HCA is here to serve you and your children.
                </p>
                <br/><br/>
            </div>
            <div class="col-md-6">
<!--                 <p>Add for us from you tube:  again.
For the Logo theme emblem kindly go to YouTube and download its written "10 characteristics of an Eagle- Motivational"
The Educational videos are:
(a)Transformation in Education
(b) Top 10 Proven Classroom Management Tips for Teachers

All are on YouTube.</p> -->
               <!-- <iframe width="100%" height="315" src="https://www.youtube.com/embed/e6ieXLVCss4" frameborder="0" allowfullscreen></iframe> -->
               <iframe width="100%" height="315" src="https://www.youtube.com/embed/0XUTdaQIdKI" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
</div>
<div class="clearfix"></div>
<div class="container-fluid section-grey">
        <div class="container section">
            <div class="col-md-6">
                <img class="img-responsive" src="img/lib.jpg"/>
                <br/><br/>
            </div>
            <div class="col-md-6">
                <h4>Vision</h4>
                <hr class="blue"/>
                <p>
                    To be a truthful and faithful institution offering the learners quality, useful, relevant and affordable education that ushers in a holistic development to the total child. 
                </p>
                <br/><br/>
                <h4>Mission Statement</h4>
                <hr class="blue"/>
                <p>
                    To provide a reputable centre for learning in a free, conducive, friendly environment for students to excel physically, socially, emotionally and intellectually. 
                </p>
                <br/><br/>
            </div>
        </div>
</div>       
  <div class="clearfix"></div>
<div class="container-fluid">
        <div class="container section">
            <div class="col-md-6 section">
                <img class="img-responsive" src="img/logo_lg.png"/>
            </div>
            <div class="col-md-6">
                <h4>Our Emblem</h4>
                <p>
                    Our emblem and logo is an Eagle signifying that our standards are set to soar above the rest. 
                <br/><br/>
                    Briefly, lessons that we derive from an eagle are that, as the old saying goes, ‘Birds of like feathers flock together’ Eagles do not mix with other birds but only enjoy flying at their high altitude. It is this characteristic that makes eagles unique birds. An eagle will never surrender to the size or strength of its prey.
                </p>
                <br/><br/>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/jtlv1OcYAg0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
</div>
  <div class="clearfix"></div>
<div class="container-fluid section-grey">
        <div class="container section">
            <div class="col-md-12 text-center">
                <p>
                    Your child does not belong to any other directionless institution,  it’s time to choose and say, <br/><strong>“My child does not belong to any other institution, but Hillcrest Cambridge Academy”</strong>
                </p>
            </div>
        </div>
</div>

<div class="clearfix"></div>