<div class="container-fluid">
        <div class="container section">
            <div class="col-md-12">
                <h4>
                   Hillcrest Cambridge Academy 2021 term calendar
                </h4>
                <hr class="blue"/>
                <br/><br/>
                <table class="table table-responsive table-striped">
                    <tr>
                        <th>TERM</th>
                        <th>OPENING - CLOSING</th>
                        <th>MID TERM BREAKS</th>
                    <tr>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>18 January – 13 April</td>
                            <td>Exit Holiday 23 February – 26 February</td>
                        <tr>
                        <tr>
                            <td>2</td>
                            <td>15 May – 10 August</td>
                            <td>Term Break 15 May – 10 August</td>
                        <tr>
                        <tr>
                            <td>3</td>
                            <td>11 September – 07 December</td>
                            <td>Exit Holiday 02 October – 05 October</td>
                        <tr>
                    <tbody>
                </table>
            </div>
        </div>
</div>
<div class="clearfix"></div>