<div class="container-fluid">
        <div class="container section">
            <div class="col-md-12">
                <h3 class="text-center">
                    Tuition Fees 2021
                </h3>
                <hr class="light"/>
                <ul class="text-white">
                    <li>
                        <a class="text-dark" href="docs/2021/HILLCREST CAMBRIDGE ACADEMY Fees undertaking.pdf" target="_blank">Fees undertaking</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <td>CLASS</td>
                        <td class="text-right">REGISTRATION</td>
                        <td class="text-right">RE- REG FEES</td>
                        <td class="text-right">YEARLY FEES</td>
                        <td class="text-right">TERMLY FEES</td>
                        <td class="text-right">HALF TERMLY FEES</td>
                        <td class="text-right">DEPOSIT(15%)</td>
                    <tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>GRADE 1</td>
                            <td class="text-right">R600</td>
                            <td class="text-right">R250</td>
                            <td class="text-right">R17 400</td>
                            <td class="text-right">R4 930</td>
                            <td class="text-right">R2 958</td>
                            <td class="text-right">R2 610</td>
                        </tr>
                        <tr>
                            <td>GRADE 2</td>
                            <td class="text-right">R600</td>
                            <td class="text-right">R250</td>
                            <td class="text-right">R17 400</td>
                            <td class="text-right">R4 930</td>
                            <td class="text-right">R2 958</td>
                            <td class="text-right">R2 610</td>
                        </tr>
                        <tr>
                            <td>GRADE 3</td>
                            <td class="text-right">R600</td>
                            <td class="text-right">R250</td>
                            <td class="text-right">R17 400</td>
                            <td class="text-right">R4 930</td>
                            <td class="text-right">R2 958</td>
                            <td class="text-right">R2 610</td>
                        </tr>
                        <tr>
                            <td>GRADE 4</td>
                            <td class="text-right">R600</td>
                            <td class="text-right">R250</td>
                            <td class="text-right">R18 600</td>
                            <td class="text-right">R5 270</td>
                            <td class="text-right">R3 162</td>
                            <td class="text-right">R2 790</td>
                        </tr>
                        <tr>
                            <td>GRADE 5</td>
                            <td class="text-right">R600</td>
                            <td class="text-right">R250</td>
                            <td class="text-right">R18 600</td>
                            <td class="text-right">R5 270</td>
                            <td class="text-right">R3 162</td>
                            <td class="text-right">R2 790</td>
                        </tr>
                        <tr>
                            <td>GRADE 6</td>
                            <td class="text-right">R600</td>
                            <td class="text-right">R250</td>
                            <td class="text-right">R18 600</td>
                            <td class="text-right">R5 270</td>
                            <td class="text-right">R3 162</td>
                            <td class="text-right">R2 790</td>
                        </tr>
                        <tr>
                            <td>GRADE 7</td>
                            <td class="text-right">R600</td>
                            <td class="text-right">R250</td>
                            <td class="text-right">R18 600</td>
                            <td class="text-right">R5 270</td>
                            <td class="text-right">R3 162</td>
                            <td class="text-right">R2 790</td>
                        </tr>
                        <tr>
                            <td>GRADE 8</td>
                            <td class="text-right">R600</td>
                            <td class="text-right">R250</td>
                            <td class="text-right">R20 400</td>
                            <td class="text-right">R5780</td>
                            <td class="text-right">R3 468</td>
                            <td class="text-right">R3 060</td>
                        </tr>
                        <tr>
                            <td>GRADE 9</td>
                            <td class="text-right">R600</td>
                            <td class="text-right">R250</td>
                            <td class="text-right">R20 400</td>
                            <td class="text-right">R5 780</td>
                            <td class="text-right">R3 468</td>
                            <td class="text-right">R3 060</td>
                        </tr>
                        <tr>
                            <td>GRADE 10</td>
                            <td class="text-right">R600</td>
                            <td class="text-right">R250</td>
                            <td class="text-right">R22 200</td>
                            <td class="text-right">R6 290</td>
                            <td class="text-right">R3 775</td>
                            <td class="text-right">R3 330</td>
                        </tr>
                        <tr>
                            <td>GRADE 11</td>
                            <td class="text-right">R600</td>
                            <td class="text-right">R250</td>
                            <td class="text-right">R22 200</td>
                            <td class="text-right">R6 290</td>
                            <td class="text-right">R3 775</td>
                            <td class="text-right">R3 330</td>
                        </tr>
                        <tr>
                            <td>A LEVEL</td>
                            <td class="text-right">R600</td>
                            <td class="text-right">R250</td>
                            <td class="text-right">R24 000</td>
                            <td class="text-right">R6 800</td>
                            <td class="text-right">R4 080</td>
                            <td class="text-right">R3 600</td>
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>  
</div>
<div class="clearfix"></div>
<div class="container-fluid">
    <div class="container section">
        <div class="col-md-12">
            <h3 class="text-center">
                Uniforms 2021
            </h3>
            <p><b>PLEASE TAKE NOTE THAT ALL UNIFORMS ARE BOUGHT AT THE SCHOOL. <u>DO NOT</u> DEPOSIT UNIFORM MONEY INTO THE SCHOOL ACCOUNT. PRICES ARE SUBJECT TO CHANGE ANYTIME.</b></p>
            <hr class="light"/>
        </div>
        <div class="col-md-12 table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <td>ITEMS</td>
                    <td class="text-right">6-7</td>
                    <td class="text-right">8-9</td>
                    <td class="text-right">10-11</td>
                    <td class="text-right">12-13</td>
                    <td class="text-right">HS</td>
                <tr>
                </thead>
                <tbody>

                    <tr ng-repeat="uniform in uniforms">
                        <td>{{uniform.name}}</td>
                        <td class="text-right" ng-repeat="price in uniform.ageAndPrice">{{price}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>  
</div>


<div class="clearfix"></div>