<div class="container-fluid section-sport">
        <div class="section-sport-inner">

            <div class="container section">
                <h2 class="text-white text-center">
                    <b>At HCA we believe that sports and games encompass more than just the benefit of physical activity.</b>
                </h2>
                <br/><br/>
            </div>
            <div class="clearfix"></div>
            <div class="container-fluid section-transparent">
                    <div class="container section">
                        <div class="col-md-6">
                            <p class="text-white">
                                In actual essence sport increases self-esteem and mental alertness. It is therefore imperative that all school going children must have access to sporting and games. 
                            </p>
                            <br/>
                        </div>
                        <div class="col-md-6">
                            <p class="text-white">
                                Sport does not only empower children and promote higher self-esteem, but it also motivates children, enables them to earn higher grades as a healthy body is receptive and conducive to meaningful and productive learning. 
                            </p>
                            <br/>
                        </div>
                    </div>
            </div>
        </div>
</div>
<div class="clearfix"></div>
<div class="container-fluid">
        <div class="container section">
            <div class="col-md-12">
                <h4>
                    Benefits of Sports
                </h4>
                <hr class="blue"/>
                <p>There are numerous benefits in sports which include maintaining a healthy weight, preventing chronic diseases, and acquiring skills necessary to maintain a healthy lifestyle even after their schooling is over. This is also fundamentally important when we acknowledge the fact that not all learners are academicians. Others may pursue sport as a career path and end up becoming sporting professionals and earn a living through it.</p>
                <br/><br/>
                <p>In recognition of these vital facts the following sporting academies are offered and facilitated by various outsourced service providers:</p>
                <hr class="blue"/>
                <br/>
                <div class="clearfix"></div>
                <div class="col-md-12">

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <h4 class="img-title">
                            Soccer academy
                        </h4>
                        <img class="img-responsive" src="img/soccer.jpg"/>
                        </br><br/>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <h4 class="img-title">
                            Swimming and water polo academy
                        </h4>
                        <img class="img-responsive" src="img/swimming.jpg"/>
                        </br><br/>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <h4 class="img-title">
                            Basketball academy
                        </h4>
                        <img class="img-responsive" src="img/basketball.jpg"/>
                        <br/><br/>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <h4 class="img-title">
                            Tennis academy
                        </h4>
                        <img class="img-responsive" src="img/tennis.jpg"/>
                        <br/><br/>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <h4 class="img-title">
                            Volley ball academy
                        </h4>
                        <img class="img-responsive" src="img/volleyball.jpg"/>
                        <br/><br/>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <h4 class="img-title">
                            Rugby academy
                        </h4>
                        <img class="img-responsive" src="img/rugby.jpg"/>
                        <br/><br/>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <h4 class="img-title">
                            Cricket academy
                        </h4>
                        <img class="img-responsive" src="img/cricket.jpg"/>
                        <br/><br/>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <h4 class="img-title">
                            Music academy
                        </h4>
                        <img class="img-responsive" src="img/music.jpg"/>
                        <br/><br/>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <h4 class="img-title">
                            Royal ballet dance academy
                        </h4>
                        <img class="img-responsive" src="img/ballet.jpg"/>
                        <br/><br/>
                    </div>
                </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>