.dropzone { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    min-width: 80vw;
    font-weight: 200;
    height: 300px;
    border: 2px dashed #f16624;
    border-radius: 5px;
    background: white;
    margin: 10px 0;
  
    &.hovering {
        border: 2px solid #f16624;
        color: #dadada !important;
    }
  
    .file-label {
        font-size: 1.2em;
    }
  }
  
  progress::-webkit-progress-value {
    transition: width 0.1s ease;
  }

  .flex-grid{
    display: flex;
    flex-wrap: wrap;
    .col{
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        width: auto;
        max-height: 150px;
      }
      .title{
        
      }
    }
  }

  .toolbar{
    position: relative;
    width:100%;
    min-height: 70px;
    border: 1px solid #b6b6b6;
    display: flex;
    justify-content: space-between;
    .actions{
      display: flex;
      justify-content: right;
      align-items: center;
    }
    .header{
      display: flex;
      justify-content: right;
      align-items: center;
      label{
        height: 100%;
        display: flex;
        align-items: center;
        background-color: rgb(97, 97, 97);
        color: #ffffff;
        padding: 0px 15px;
      }
      select{
        cursor: pointer;
        width: 10rem;
        height: 100%;
        background-color: #8a8a8a;
        color: #ffffff;
        padding: 0px 15px;
        font-size: 1.5rem;
      }
      p{
        margin: 10px;
      }
    }
  }
  .create-new{
    position: absolute;
    top: 50px;
    right: 50px;
    bottom: 50px;
    left: 50px;
    background-color: rgb(255, 255, 255);
    animation-name: slideFromRight;
    animation-duration: 0.3s;
    z-index: 999;
  }

button{
  height: 100%;
}

  .backdrop{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.432);
    display: none;

    &.active{
      display: block;
      z-index: 997;
    }
  }

@keyframes slideFromRight {
  0% {top: 0px;right: 0px;bottom: 0px;left: 0px;}
  100% {top: 50px;right: 50px;bottom: 50px;left: 50px;}
}
