<div class="toolbar">
    <div class="header" *ngIf="album">
        <label>Album</label>
        <select [(ngModel)]="album" (change)="onChange()">
            <option *ngFor="let album of albums" [ngValue]="album">{{album.name}}</option>
        </select>
        <p>{{files.length}} images</p>
        <p>Description: {{album?.description ? album.description : ''}}</p>
    </div>
    <div class="actions">
        <button *ngIf="album" (click)="deleteAlbum(album.name)">Delete Album</button>
        <button (click)="toggleCreate()">Create New Album</button>
    </div>
</div>
<div class="flex-grid" *ngIf="files">
    <div class="flex-grid col">
        <div class="col" *ngFor="let item of files">
            <img [src]="item"/>
        </div>
    </div>
</div>
<uploader *ngIf="album" [albumName]="album?.name" (complete)="getAlbumList()"></uploader>

<ngx-ui-loader></ngx-ui-loader>

<div *ngIf="createNew" class="create-new">
    <div class="toolbar">
        <div class="header">
            <h2>Create New Album</h2>
        </div>
        <div class="actions">
            <button (click)="toggleCreate()">X</button>
        </div>
    </div>
    <form [formGroup]="newAlbumForm" (ngSubmit)="onSubmit()">
        <label>Name</label>
        <input formControlName="albumName" placeholder="Album name" type="text"/>
        <label>Description</label>
        <textarea formControlName="description" rows="3" placeholder="Album description" type="text"></textarea>
        <button [disabled]="newAlbumForm.invalid" (click)="createAlbum(newAlbumName)">Save {{newAlbumName}}</button>
    </form>
</div>
<div class="backdrop" (click)="toggleCreate()" [class.active]="createNew"></div>